MONGO_URI=mongodb+srv://username:password@cluster0.xxxxx.mongodb.net/outpro
JWT_SECRET=change_this_to_a_long_random_string_minimum_32_chars
CLIENT_URL=https://your-frontend.vercel.app
ADMIN_EMAIL=admin@outpro.in
ADMIN_PASSWORD=Admin@2025
PORT=5000
